root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.py]
charset = utf-8
indent_size = 2
indent_style = space

[*.kt]
charset = utf-8
indent_size = 4
indent_style = space
disabled_rules = no-wildcard-imports
