<?xml-model href="https://raw.githubusercontent.com/btmxh/nrsml/pr19/xml/schema.xsd"?>
<document>
    <entry id="L-MAL-110953" title="Neeko wa Tsurai yo" entrytype="Manga">
        <!-- Yes, I hate capitalism and its foes, how could you tell? -->

        <!-- i love aitsuki nakuru -->
        <bestGirl name="Nemuko Niito" />

        <visual type="manga" base="0.6" unique="0.3" />
        <!-- 38/41 chapters -->
        <!-- about 2hr of value idk -->
        <consumedProgress status="Watching" boredom="1.0" duration="2:00:00" />

        <maxAEIPADS emotions="MP-0.1:CU-0.3:CP-0.6" />

        <!-- didn't realize that i kinda want an anime daughter ngl -->
        <!-- anti-lovists in shambles rn -->
        <!-- (the dqc daughter meme comes from here kekw) -->
        <writing character="0.6" story="0.3" pacing="0.8" originality="0.9"></writing>
    </entry>

    <entry id="A-MAL-52092" title="My Home Hero">
        <source>
            <adb id="17471" />
            <al id="151189" />
            <ks id="46209" />
            <mal id="52092" />
        </source>

        <!-- nah im not making that :clueless: daughter the best girl aint nah bro -->
        <validatorSuppress rules="dah-no-best-girl" />

        <aei base="0.2" emotions="AP" />
        <visual type="animated" base="0.2" unique="0.4" />
        <animeConsumedProgress status="Completed" boredom="1.0" episodes="12" />
        <writing character="0.3" story="0.3" pacing="0.8" originality="0.8"></writing>
    </entry>

    <entry id="A-MAL-48981" title="Mahou Shoujo Magical Destroyers">
        <source>
            <adb id="16320" />
            <al id="134131" />
            <ks id="44586" />
            <mal id="48981" />
        </source>

        <bestGirl name="Pink" />

        <nei base="0.8" emotions="AP" />
        <visual type="animated" base="0.3" unique="0.6" />
        <animeConsumedProgress status="Completed" boredom="1.0" episodes="12" />

        <featureMusic id="M-VGMDB-AL-128439-1" />
        <writing character="0.4" story="0.3" pacing="0.8" originality="0.6"></writing>
    </entry>

    <entry id="M-VGMDB-AL-128439" title="MAGICAL DESTROYER / Aimi">
        <source>
            <urls>
                <url
                    name="vgmdb"
                    src="https://vgmdb.net/album/128439"
                    generatedBy="music.ts 822494e-655b9f71"
                />
            </urls>
        </source>
        <visual type="albumArt" base="0.2" unique="0.3" />
        <entry id="$-1" title="MAGICAL DESTROYER">
            <source>
                <urls>
                    <url
                        name="youtube"
                        src="https://www.youtube.com/watch?v=eY6UODku6Og"
                    />
                </urls>
            </source>
            <music base="0.5" />
            <musicConsumedProgress length="3:47" />
        </entry>
    </entry>

    <entry id="A-MAL-50871" title="Alice Gear Aegis Expansion">
        <source>
            <adb id="17147" />
            <al id="144188" />
            <ks id="43845" />
            <mal id="50871" />
        </source>

        <bestGirl name="Nodoka Takahata" />

        <nei base="0.9" emotions="AP" />
        <visual type="animated" base="0.6" unique="0.1" />

        <!-- blame ksdgk -->
        <animeConsumedProgress status="Dropped" boredom="0.8" episodes="10" />
        <dropped />

        <featureMusic id="M-VGMDB-AL-127924-1" />
        <featureMusic id="M-VGMDB-AL-127927-1" />
        <writing character="0.4" story="0.3" pacing="0.8" originality="0.4"></writing>
    </entry>

    <entry id="M-VGMDB-AL-127924" title="Dash and Go! / Aina Suzuki">
        <source>
            <urls>
                <url
                    name="vgmdb"
                    src="https://vgmdb.net/album/127924"
                    generatedBy="music.ts 822494e-655b9e87"
                />
            </urls>
        </source>
        <visual type="albumArt" base="0.2" unique="0.4" />
        <entry id="$-1" title="Dash and Go!">
            <source>
                <urls>
                    <url
                        name="youtube"
                        src="https://www.youtube.com/watch?v=NbHSXce7uRw"
                    />
                </urls>
            </source>
            <music base="0.4" />
            <musicConsumedProgress length="4:15" />
        </entry>
    </entry>

    <entry id="M-VGMDB-AL-127927" title="Just a little bit / Marina Horiuchi">
        <source>
            <urls>
                <url
                    name="vgmdb"
                    src="https://vgmdb.net/album/127927"
                    generatedBy="music.ts 822494e-655b9e87"
                />
            </urls>
        </source>
        <visual type="albumArt" base="0.2" unique="0.4" />
        <entry id="$-1" title="Just a little bit">
            <source>
                <urls>
                    <url
                        name="youtube"
                        src="https://www.youtube.com/watch?v=Jo9H4MohmGc"
                    />
                </urls>
            </source>
            <music base="0.5" />
            <musicConsumedProgress length="3:48" />
        </entry>
    </entry>
</document>
