<?xml-model href="https://raw.githubusercontent.com/btmxh/nrsml/master/xml/schema.xsd"?>
<document>
    <!-- yorukara and gbc are the goats this season -->
    <!-- it's just so peak -->

    <entry id="A-MAL-54839" title="Yoru no Kurage wa Oyogenai">
        <source generatedBy="anime.ts 822494e-66345b56">
            <mal id="54839" />
            <al id="163078" />
            <ks id="47233" />
            <adb id="17938" />
        </source>
        <validatorSuppress rules=";dah-no-anime-altsrc" />
        <!-- mahiru perfect wife material -->
        <!-- she is also literally me -->
        <!-- her last name is even more obscure than obama's last name bruh -->
        <!-- juunanasai (yapper reference) -->
        <bestGirl name="Mahiru Kouzuki" />

        <!-- damn this show just feels different chat it's so fucking peak -->
        <!-- it definitely shit on all other shows this season except gbc -->

        <aei base="0.2" emotions="CP-0.75:MP-0.25" />

        <meme from="2024-04-15" to="today" strength="0.3" />

        <!-- episode 5 is fucking the august 5th incident chat -->
        <!-- im hyping for this shit -->
        <animeConsumedProgress status="Watching" boredom="1.0" episodes="5" />

        <visual type="animated" base="0.7" unique="0.3" />

        <!-- dat kiss tho chat xdd -->
        <nei base="0.3" emotions="AP" />

        <!-- some scenes are funny, but nuh uh -->
        <nei base="0.2" emotions="AP" />
    </entry>

    <!-- idol renaissance part 2 new meta hype -->
    <aei base="0.5" emotions="AP">
        <contributor id="A-MAL-55102" factor="0.4" />
        <contributor id="A-MAL-54839" factor="0.3" />
        <contributor id="A-MAL-54959" factor="0.3" />
    </aei>
</document>
